@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-Bold.ttf);
}

body{
	background-color: #00000A;
	text-transform: uppercase;
	color: #E8BCD5;
}

div.temp{
	position: fixed;
	width:30%;
	height:20%;
	top: 35%;
	left: 35%;
	font-family: Oswald;
	font-size: 24pt;
	color: #474751;
	text-align: center;
	
}

.axis path,
.axis line {
	fill: none;
	stroke: #E8BCD5;
	shape-rendering: crispEdges;
}

.axis text {
    font-family: Oswald;
    font-size: 11px;
}

.title {
  font: 300 38px Oswald;
  fill: #E8BCD5;
}

.groups {
  font: 300 30px Oswald;
  fill: #4a8cb8;
} 

.users {
	fill: #f6f7f0;
}

.usersText {
	font-size: 11px;
	font-weight: bold;
	fill: #f6f7f0;
    background: #E8BCD5;	
    border: 0px;		
    border-radius: 8px;			
}

.relations {
	stroke: #f6f7f0;
	shape-rendering: auto;
}

footer {
	color: #f6f7f0;
	text-align: center;
	font-family: Oswald;
	font-weight: 50;
	font-size: 5;
}